<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ruedap.emma-css</string>
	<key>connections</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CBC1CA3-D946-4766-9551-505842A4BE52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@ruedap</string>
	<key>description</key>
	<string>Search through Emma.css</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emma.css 0.3.0.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>emma</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>./awc {query}</string>
				<key>subtext</key>
				<string>Emma.css Workflow</string>
				<key>title</key>
				<string>Search through Emma.css</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8CBC1CA3-D946-4766-9551-505842A4BE52</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>8CBC1CA3-D946-4766-9551-505842A4BE52</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
