<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Emma.css 0.15.0.2</string>
	<key>version</key>
	<string>0.15.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/ruedap/alfred-emma-css-workflow</string>
	<key>readme</key>
	<string>https://github.com/ruedap/alfred-emma-css-workflow</string>
	<key>bundleid</key>
	<string>com.ruedap.alfredworkflow.emma</string>
	<key>createdby</key>
	<string>@ruedap</string>
	<key>description</key>
	<string>Search through Emma.css</string>
	<key>category</key>
	<string>Productivity</string>
	<key>disabled</key>
	<false/>
	<key>connections</key>
	<dict>
		<key>51EE5983-5463-4F68-A082-881B120EA327</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74C3DB3E-637D-4D91-99EA-6D3391970365</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>74C3DB3E-637D-4D91-99EA-6D3391970365</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>emma</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./emma-css-workflow {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search through Emma.css</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51EE5983-5463-4F68-A082-881B120EA327</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>51EE5983-5463-4F68-A082-881B120EA327</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>74C3DB3E-637D-4D91-99EA-6D3391970365</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
</dict>
</plist>
